body {
    background-color: #ffffff;   
}
.body-container {
    border: #000000;
    border-style: dashed;
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
}
/* NAV BAR */
nav {
   margin: 0;
   padding: 0;
   height: 50px;
}
#nav-flex-title {
    display: flex;
    width: 100%;
    position: absolute;
    height: 9%;
    background-color: #ffffff;
    margin-bottom: 1em;
}
#nav-flex-box {
    display: flex;
    width: 100%;
    border: #000000;
    border-style: dashed;
}
#nav-flex-menu {
    display: flex;
    padding: 0;
    align-items: center;
}
#nav-header {
    display: flex; 
    align-items: center;
    width: 160px;

}
#nav-flex-options {
    display: flex;
    padding: 5px;
    justify-content: center;
    width: 100px;

}
ul {
    list-style: none;
}
li  {
    font-size: 18px;
}
img {
    width: 160px;
    height: 60px;
    object-fit: contain;
}
/* END OF NAV BAR */
/* START OF WEEKDAY BOX */
.contactus-container {
    display: flex;
    border: #000000;
    border-style: dashed;
    height: 300px;
    margin: 1em;
    justify-content: space-between;
    padding: 1em;
}
.map-box {
    display: flex;
    height:220px;
    width: 400px;;
    border: #000000;
    border-style: dashed;
    padding: 1em;
    justify-self: right;
}
.contactus-textbox {
    display: block;
    float: right;
    border: #000000;
    border-style: dashed;
    padding: 1em;  
    width: 300px;
}
.contactus-titlebox {
    display: block;
    border: #000000;
    border-style: dashed;
}