html {
    scroll-behavior: smooth;
}
body {
    background-color: #ffffff;   
    font-family: 'Poppins', sans-serif !important; 
}
.body-container {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}
/* NAV BAR */
#nav {
    width: fit-content;
    max-height: 20px;
}
/* END OF NAV BAR */
/* JUMBOTRON */
.jumbotron {
    background-image: url(jumbotron\ image.jpg);
    background-size: cover;
    object-fit: contain;
    opacity: 0.1;
}
.image-2 {
    width: 100%;
    height: 100%;
    transform: scale(1.02);
    max-height: 570px;
    padding: 2em;
}
/* END OF JUMBOTRON */
/* MAIN GRID BOX */
#repairs-main-container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}
#repairs-title-box {
    display: flex;
    font-size: 50px;
    justify-content: center;
}
#repairs-body-container {
    display: flex;
    width: 100%;
    height: auto;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.repair-devices {   
    height: fit-content;
    max-width: 600px;
    width: 100%;
    margin: 1em;;
    border: solid   #0942ad;
    border-radius: 15px 15px;
    box-shadow: 10px 10px 15px #524a4a;
    font-size: 20px;
    transform: scale(0.85);
    flex: 1 1 0px;
}
.main-titles {  
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #ffffff;
}
.main-images {
    display: flex;
    width: 400px;
    height: 300px;
    transform: scale(0.75);
}
.main-captions {
    display: flex;
    width: fit-content;
    height: 100px;
    color: #ffffff;
    border-right: 2em solid transparent;
    border-left: 2em solid transparent;
 
}
.main-textbox {
    width: 100%;
    height: 300px;
    background-color: #134197;
    border-radius: 5px 5px;
    text-align: left;
}
